---
import Layout from '@layouts/Layout.astro';
import Heading from '@components/Base/Heading.astro';
---

<Layout title='404 page'>
  <section class='container text-brand-gray-900 ~py-11/16'>
    <Heading size='2xl'>404 page</Heading>
  </section>
</Layout>
