---
import Layout from '@layouts/Layout.astro';
import Heading from '@components/Base/Heading.astro';
import CTA from '@components/Home/CTA.astro';
---

<Layout title='About Us'>
  <section
    class='h-full text-brand-gray-900 ~pt-2.5/16 ~pb-10/16 sm:bg-brand-blue-bg'
  >
    <div class='container'>
      <div class='mb-2.5 text-lg leading-snug'>CSS Solutions</div>
      <Heading size='2xl' class='mb-4 font-light'>About Us</Heading>

      <article
        class='prose rounded-3xl bg-white shadow-sm ~mt-5/10 ~p-3/13.5 sm:shadow'
      >
        <h3>Power Your Hospitality Business with CSS Cloud Solutions</h3>

        <p>
          CSS is a next-generation, cloud-based platform designed specifically
          for the hospitality industry. From order management and invoicing to
          team coordination and delivery, CSS streamlines every aspect of your
          operations across all devices. No installation required—simply log in
          from any web browser, tablet, or mobile device and get started
          instantly.
        </p>

        <h3>Cloud-Powered & Secure</h3>

        <p>
          Built on cutting-edge cloud technology, CSS ensures your data is
          always secure, accessible, and protected with industry-leading
          security measures. Focus on growing your business with confidence,
          knowing your information is safe.
        </p>

        <h3>Industry Expertise Meets Modern Innovation</h3>

        <p>
          Combining AI-driven tools with over 75 years of hospitality expertise,
          CSS is built on real-world experience. Led by our CEO and an advisory
          board of hospitality veterans and seasoned professionals, our platform
          is tailored to meet the unique needs of restaurants and vendors.
        </p>

        <h3>AI-Enhanced Efficiency</h3>

        <p>
          CSS unleashes the power of artificial intelligence to extract
          unlimited amounts of actionable insights from your business data.
        </p>

        <p>
          Imagine having an assistant who is never wrong and never takes a day
          off. CSS AI assistant understands the languages of your kitchen.
          Foodservice today represents a broad diversity of workers and
          languages. CSS is there to help your business communicate for success.
        </p>

        <h3>A Unified, Flexible, and Scalable Solution</h3>

        <p>
          Designed for the fast-paced hospitality industry, CSS adapts to your
          needs with seamless, intuitive functionality. Experience the future of
          hospitality supply chain management—discover CSS today and elevate
          your business.
        </p>
      </article>
    </div>
  </section>

  <CTA
    variant='macbook'
    class='hidden ~pb-10/15 sm:block sm:bg-brand-blue-bg'
  />
</Layout>
