---
import Logo from '@components/Base/Logo.astro';
import MenuIcon from '@assets/images/icons/mono/menu.svg';
import CloseIcon from '@assets/images/icons/mono/close.svg';
import Navigation from '@components/Base/Navigation.astro';
import Button from '@components/Base/Button.astro';
---

<header class='relative bg-brand-orange-900 text-white ~pt-6/9 ~pb-7.5/9'>
  <div class='container flex items-center'>
    <div class='flex items-center ~md/2xl:~gap-2/14'>
      <Logo class='~sm/2xl:~w-43/68.75' />
      <Navigation class='hidden lg:block' />
    </div>
    <div class='ml-auto hidden items-center gap-8 lg:flex'>
      <a
        href='#'
        class='text-lg font-medium tracking-002 underline-offset-4 hover:underline'
        >Log In</a
      >
      <Button variant='secondary'>Schedule Demo</Button>
    </div>

    <div class='ml-auto flex items-center gap-4 lg:hidden'>
      <button
        type='button'
        class='hs-collapse-toggle'
        id='hs-navbar-example-collapse'
        aria-expanded='false'
        aria-controls='hs-navbar-example'
        aria-label='Toggle navigation'
        data-hs-collapse='#hs-navbar-example'
      >
        <MenuIcon
          class='hs-collapse-open:hidden ml-auto ~sm/2xl:~h-6/14 ~sm/2xl:~w-6/14'
          aria-label='Menu'
          width={24}
          height={24}
        />

        <CloseIcon
          class='hs-collapse-open:block hidden ~sm/2xl:~h-6/14 ~sm/2xl:~w-6/14'
          aria-label='Close'
          width={24}
          height={24}
        />
        <span class='sr-only'>Toggle navigation</span>
      </button>
    </div>
  </div>

  <div
    id='hs-navbar-example'
    class='hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300'
    aria-labelledby='hs-navbar-example-collapse'
  >
    <Navigation navClass='sm:flex-col items-center pt-15 p-7.5 !gap-9' />
  </div>
</header>
