---
import Logo from '@components/Base/Logo.astro';
import MenuIcon from '@assets/images/icons/mono/menu.svg';
import CloseIcon from '@assets/images/icons/mono/close.svg';
import Email from '@assets/images/icons/mono/email.svg';
import Navigation from '@components/Base/Navigation.astro';
import Button from '@components/Base/Button.astro';
import Modal from '@components/Base/Modal.astro';
import Heading from '@components/Base/Heading.astro';
---

<header class='sticky top-0 z-50 bg-brand-orange-800 text-white transition-all'>
  <div
    class='header container relative flex h-full items-center transition-all ~pt-6/9 ~pb-7.5/9'
  >
    <div class='flex items-center ~md/2xl:~gap-2/14'>
      <Logo class='~sm/2xl:~w-43/72' />
      <Navigation class='hidden lg:block' />
    </div>
    <div class='ml-auto hidden items-center gap-8 lg:flex'>
      <a
        href='#'
        class='text-lg font-medium tracking-002 underline-offset-4 hover:underline'
        >Log In</a
      >
      <Button
        variant='secondary'
        aria-haspopup='dialog'
        aria-expanded='false'
        aria-controls='сalendly-modal'
        data-hs-overlay='#сalendly-modal'>Schedule Demo</Button
      >
    </div>

    <div class='ml-auto flex items-center gap-4 lg:hidden'>
      <button
        type='button'
        class='hs-collapse-toggle'
        id='hs-navbar-example-collapse'
        aria-expanded='false'
        aria-controls='#hs-navbar-example'
        aria-label='Toggle navigation'
        data-hs-collapse='#hs-navbar-example'
      >
        <MenuIcon
          class='ml-auto stroke-white ~sm/2xl:~h-6/14 ~sm/2xl:~w-6/14 hs-collapse-open:hidden'
          aria-label='Menu'
          width={24}
          height={24}
        />

        <CloseIcon
          class='hidden stroke-white ~sm/2xl:~h-6/14 ~sm/2xl:~w-6/14 hs-collapse-open:block'
          aria-label='Close'
          width={24}
          height={24}
        />
        <span class='sr-only'>Toggle navigation</span>
      </button>
    </div>
  </div>

  <div
    id='hs-navbar-example'
    class='hs-collapse hs-collapse-content hidden grow basis-full overflow-hidden transition-all duration-300'
    aria-labelledby='hs-navbar-example-collapse'
  >
    <Navigation navClass='sm:flex-col items-center pt-15 p-7.5 !gap-9' />
  </div>
</header>

<Modal id='сalendly-modal' size='xl'>
  <div
    class='calendly-inline-widget'
    data-url='https://calendly.com/michael-chain-serve/css-demo-meeting'
    style='min-width:320px;height:700px;'
  >
  </div>
  <script
    type='text/javascript'
    src='https://assets.calendly.com/assets/external/widget.js'
    async
    is:inline
    data-astro-rerun></script>
</Modal>

<Modal id='contacts-modal' size='lg'>
  <div class='flex flex-col items-center'>
    <div
      class='size-26 mb-8 flex items-center justify-center rounded-full bg-brand-blue-bg'
    >
      <Email />
    </div>

    <Heading tag='h2' class='!text-2xl text-brand-gray-900'>Contact Us</Heading>

    <form class='mt-6 w-full space-y-8'>
      <div class='grid grid-cols-1 gap-8 sm:grid-cols-3'>
        <div class='sm:col-span-2'>
          <label
            for='company-name'
            class='block text-sm font-light text-brand-gray-500'
          >
            Company Name
          </label>
          <input
            type='text'
            id='company-name'
            name='company-name'
            class='form-input mt-1 block w-full rounded border-brand-gray-100 p-4 pr-3 pt-3.5 font-light text-brand-gray-900 placeholder:text-brand-gray-500 focus:border-brand-orange-900 focus:ring-brand-orange-900'
            placeholder='Company Name'
          />
        </div>

        <div class='sm:col-span-1'>
          <label
            for='company-size'
            class='block text-sm font-light text-brand-gray-500'
          >
            Size of the company (optional)
          </label>
          <select
            id='company-size'
            name='company-size'
            class='form-select mt-1 block w-full rounded border-brand-gray-100 bg-brand-blue-bg p-4 pr-3 pt-3.5 text-brand-gray-900 placeholder:text-brand-gray-500 focus:border-brand-orange-900 focus:ring-brand-orange-900'
          >
            <option>More than 1000</option>
            <option>Less than 1000</option>
          </select>
        </div>

        <div class='sm:col-span-1'>
          <label
            for='contact-name'
            class='block text-sm font-light text-brand-gray-500'
          >
            Contact Name
          </label>
          <input
            type='text'
            id='contact-name'
            name='contact-name'
            class='form-input mt-1 block w-full rounded border-brand-gray-100 p-4 pr-3 pt-3.5 font-light text-brand-gray-900 placeholder:text-brand-gray-500 focus:border-brand-orange-900 focus:ring-brand-orange-900'
            placeholder='Contact Name'
          />
        </div>

        <div class='sm:col-span-1'>
          <label
            for='company-phone'
            class='block text-sm font-light text-brand-gray-500'
          >
            Company Phone Number
          </label>
          <input
            type='tel'
            id='company-phone'
            name='company-phone'
            class='form-input mt-1 block w-full rounded border-brand-gray-100 p-4 pr-3 pt-3.5 text-base font-light text-brand-gray-900 placeholder:text-brand-gray-500 focus:border-brand-orange-900 focus:ring-brand-orange-900'
            placeholder='Company Phone Number'
          />
        </div>

        <div class='sm:col-span-1'>
          <label
            for='work-email'
            class='block text-sm font-light text-brand-gray-500'
          >
            Work Email
          </label>
          <input
            type='email'
            id='work-email'
            name='work-email'
            class='form-input mt-1 block w-full rounded border-brand-gray-100 p-4 pr-3 pt-3.5 font-light text-brand-gray-900 placeholder:text-brand-gray-500 focus:border-brand-orange-900 focus:ring-brand-orange-900'
            placeholder='Work Email'
          />
        </div>
      </div>

      <div>
        <label
          for='message'
          class='block text-sm font-light text-brand-gray-500'
        >
          Message
        </label>

        <textarea
          id='message'
          name='message'
          rows='6'
          class='form-textarea mt-1 block w-full rounded border-brand-gray-100 font-light text-brand-gray-900 placeholder:text-brand-gray-500 focus:border-brand-orange-900 focus:ring-brand-orange-900'
          placeholder='Message'></textarea>
      </div>

      <div class='flex justify-center'>
        <Button type='submit' class=''> Send Message </Button>
      </div>
    </form>
  </div>
</Modal>

<script>
  document.addEventListener('astro:page-load', () => {
    const header = document.querySelector('.header') as HTMLElement;
    if (!header) {
      return;
    }

    const initialHeaderHeight = header.getBoundingClientRect().height;
    const reducedHeaderHeight = initialHeaderHeight * 0.7;

    header.style.height = `${initialHeaderHeight}px`;

    window.addEventListener('scroll', () => {
      if (window.scrollY > initialHeaderHeight) {
        header.style.height = `${reducedHeaderHeight}px`;
      } else {
        header.style.height = `${initialHeaderHeight}px`;
      }
    });
  });
</script>
