---
import Heading from '../Base/Heading.astro';
---

<section class='bg-white pb-16 pt-12'>
  <div class='container'>
    <div class='flex flex-col items-center gap-3 p-6'>
      <Heading
        tag='h2'
        size='2xl'
        class='flex flex-col gap-5 !text-3.5xl font-light leading-6 sm:flex-row'
      >
        <span
          class='inline-block first-letter:font-bold first-letter:text-brand-orange-900'
          >Control your tasks</span
        >
        <span
          class='inline-block first-letter:font-bold first-letter:text-brand-orange-900'
          >Steamline the process</span
        >
        <span
          class='inline-block first-letter:font-bold first-letter:text-brand-orange-900'
          >Stay ahead</span
        >
      </Heading>

      <p class='text0brand-gray-900 text-center text-lg font-light leading-6'>
        Optimize Workflow, Total Organization, Boost Efficiencies, Enjoy Success
      </p>
    </div>
  </div>
</section>
