---
import Heading from '../Base/Heading.astro';
---

<section class='~pb-8.5/16 bg-white pt-12'>
  <div class='container p-0 px-5'>
    <div class='flex flex-col gap-3 sm:items-center sm:p-6'>
      <Heading
        tag='h2'
        size='2xl'
        class='flex flex-col gap-5 text-left !text-3.5xl font-light leading-6 sm:flex-row'
      >
        <span
          class='inline-block first-letter:font-bold first-letter:text-brand-orange-900'
          >Control your tasks</span
        >
        <span
          class='inline-block first-letter:font-bold first-letter:text-brand-orange-900'
          >Steamline the process</span
        >
        <span
          class='inline-block first-letter:font-bold first-letter:text-brand-orange-900'
          >Stay ahead</span
        >
      </Heading>

      <p
        class='text0brand-gray-900 pt-7.5 text-center font-light leading-6 ~text-sm/lg sm:pt-0'
      >
        Optimize Workflow, Total Organization, Boost Efficiencies, Enjoy Success
      </p>
    </div>
  </div>
</section>
