---
import Layout from '@layouts/Layout.astro';
import Heading from '@components/Base/Heading.astro';
import Breadcrumbs from '@components/Base/Breadcrumbs.astro';
---

<Layout title='Terms of service'>
  <section class='container text-brand-gray-900 ~py-11/16'>
    <Breadcrumbs />
    <Heading size='2xl'>Terms of service</Heading>
  </section>
</Layout>
